{% extends 'base.html' %}
{% load static %}
<!-- https://images.pexels.com/photos/6476124/pexels-photo-6476124.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500 

https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
-->
{% block content %}

<header class="masthead" style="background-image: url('https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); background-size: cover;">
<div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 style="text-align: center; font-weight:bolder; font-size: 60px;">Applicant Profiles</h1>
        </div>
      </div>
    </div>
  </div>
</header>  



<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for student in students %}
                
                <div class="card applicant-card" style="margin:20px; z-index:2;" id="card-{{student.id}}">
                    
                    <!--Card overlay-->                   
                    <div class="card-img-overlay" id="overlay-{{student.id}}" style="background-color:rgb(7, 7, 49); display: none;  text-align: center;">
                        <h5 class="card-title" style="color:white; text-align: center; width:500px; margin-right:auto; margin-left: auto; text-align: center;">
                            Congratulations! We've scheduled an interview with this student for <b>Thursday, April 16th at 2:00 PM (MST)</b>.
                        </h5>
                        <button class="btn" onclick="nextApplicant();" style="text-decoration: none; color: firebrick;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                          </svg>
                          Next
                        </button>
                    </div>

                    <h5 class="card-header">
                        Applicant #{{student.id}}<br>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                            </svg>
                        </span>
                        
                        <!--Thumbs up/down icons-->
                        <span style="float:right;">
                            <button onclick="thumbsUp();" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                    <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                </svg>
                            </button>
                            <button onclick="thumbsDown();" class="btn btn-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                    <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
                                </svg>
                            </button>
                        </span>
                    </h5>
                    <div class="card-body">
                        <h5 class="card-title">EDUCATION</h5>
                        {% for educate in student.education.all %}
                            <p class="card-text"><b>{{educate.school}}</b>, <em>{{educate.major}}</em>, GPA: {{educate.gpa}}, Graduation {{educate.graduation_date}}</p>
                        {% endfor %}

                        <h5 class="card-title">EXPERIENCE</h5>
                        {% for exp in student.experience.all %}
                            <p class="card-text">
                                <b>{{exp.company}}</b>, 
                                <em>{{exp.position}}</em>, 
                                {{exp.start_date}} - {{exp.end_date}}
                                <br>
                                {{exp.description}}
                            </p>
                        {% endfor %}

                        <h5 class="card-title">SKILLS</h5>
                        {% for skill in student.skills.all %}
                            <span class="badge badge-success">{{skill}}</span>
                        {% endfor %}
                        <br><br>
                       
                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#review_modal">Reviews</button>

                    </div>
                </div>

                <div class="modal fade" id="review_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Applicant #{{student.id}} Reviews</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            {% for review in student.reviews.all %}
                                <h6>{{ review.company }}</h6>
                                <p>{{ review.review }}</p>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    let topCard = document.getElementsByClassName("applicant-card")[0].id;
    let topNum = topCard.slice(topCard.indexOf("_", 1));

    function thumbsUp() {
        // show overlay
        // overlay = document.getElementById("overlay-2").id;
        let overlay = `overlay-${topNum}`;
        // let overlay = document.getElementsByClassName("card-img-overlay")[0].id;
        console.log("overlay: " + overlay);
        $(`#${overlay}`).css({opacity: 0, "z-index": 2, display: "block"});
        $(`#${overlay}`).animate({opacity:1}, {duration: "500ms"});
    }

    function thumbsDown() {
        let overlay = document.getElementsByClassName("card-img-overlay")[0].id;
        console.log("overlay: " + overlay);
        $(`#${overlay}`).css({opacity: 0, "z-index": 2, display: "block"});
        $(`#${overlay}`).animate({opacity:1}, {duration: "500ms"});
    }

    function nextApplicant() {
        $(`#${topCard}`).slideUp({duration: "slow"});
        $(`#${topCard}`).animate({opacity: 0, duration: "500000"});
        topNum--;
        topCard = `card-${topNum}`;
    }
</script>

{% endblock %}