{% extends 'base.html' %}
{% load static %}

{% block content %}
<a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Recruiting!</a>

{% endblock %}

{% block mainbody %}

    <img src="" alt="company-name">
    <h1>Systems Planning & Analysis, Inc.</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <h3>Rating</h3>
                <h3>Company Email: </h3>
                <p>spa_recruiting@spa.com</p>
                <h3>Description: </h3>
                <p>SPA provides knowledge-based solutions integrating technical, operational, programmatic, policy, and business solutions in support of important national security objectives.</p>
            </div>
        </div>
    </div>




    <!--Email, logo, jobs, menu to start recruiting-->

    

    

{% endblock %}
    